li {
    font-size: 1.5rem;
    line-height: 2rem;
}
.user {
    border: 3px solid black;
    width: 40%;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem 0;
    height: auto;
    overflow: hidden;
    background-color: #008891;
}
#home {
    float: right;
    margin-right: 1rem;
} 
#address {
    margin-top: 1rem;
}